<ion-header>
  <ion-toolbar>
    <ion-title>
      Angular 8 + Ionic 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-icon name="airplane"></ion-icon>
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
      your guide.</p>

    <ion-button (click)="presentAlert()" color="gold" expand="full">We now have a gold button</ion-button>
  </div>
</ion-content>